$sub-col-w: #b7b7b7;
$sub-col-g: #393939;
$sub-col-y: #e6f41f;
$bg-col-n: #010003;

$ft-f-pretendard: "Pretendard", sans-serif;
$ft-f-roboto: "Roboto", sans-serif;

$ft-thin: 100;
$ft-e-light: 200;
$ft-light: 300;
$ft-reg: 400;
$ft-m: 500;
$ft-sb: 600;
$ft-b: 700;
$ft-eb: 800;
$ft-bl: 900;

$s-pc: 1300px;
$tab: 1024px;
$mob: 768px;
$s-mob: 500px;
