@import "@/styles/variables.scss";

#footer {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-col-n;
  p {
    color: #888;
    strong {
      color: #fff;
    }
  }
}
