@import "@/styles/font";
@import "@/styles/variables";

// -------------------------
// Reset & Base
// -------------------------
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--foreground);
  background: $bg-col-n;
  font-family: $ft-f-pretendard;
  font-weight: $ft-m;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

// -------------------------
// Scrollbar
// -------------------------
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: $bg-col-n;
}
::-webkit-scrollbar-thumb {
  background: $sub-col-w;
  border-radius: 5px;
}

// -------------------------
// Mixins
// -------------------------
@mixin responsive-txt($pc-fz, $spc-fz, $tab-fz, $mob-fz) {
  font-size: $pc-fz;

  @media (max-width: $s-pc) {
    font-size: $spc-fz;
  }
  @media (max-width: $tab) {
    font-size: $tab-fz;
  }
  @media (max-width: $mob) {
    font-size: $mob-fz;
  }
}

// -------------------------
// Layout
// -------------------------

.inr {
  max-width: 1200px;
  margin: 0 auto;
  padding: 180px 0 0;

  @media (max-width: $s-pc) {
    width: 100%;
    padding: 150px 50px;
  }
  @media (max-width: $tab) {
    padding: 80px 50px;
  }
  @media (max-width: $s-mob) {
    padding: 80px 30px 50px;
  }
}

.cont-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  @media (max-width: $s-pc) {
    gap: 50px;
  }
  @media (max-width: $tab) {
    flex-direction: column;
  }
}

.left-info {
  width: 400px;
  @media (max-width: $s-pc) {
    width: 300px;
  }
  @media (max-width: $tab) {
    width: 100%;
  }
}

.right-cont {
  width: calc(100% - 400px);
  color: #fff;

  @media (max-width: $s-pc) {
    width: calc(100% - 350px);
  }
  @media (max-width: $tab) {
    width: 100%;
  }
}

// -------------------------
// Typography
// -------------------------
.cont-title {
  @media (max-width: $s-pc) {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  span {
    display: block;
    color: #fff;
  }
}

.section-title-tag {
  color: $sub-col-y;
  border-bottom: 2px solid $sub-col-y;
  display: inline-block;
  font-weight: $ft-b;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media (max-width: $mob) {
    margin-bottom: 10px;
  }
}

.title-text {
  @include responsive-txt(60px, 50px, 50px, 45px);
  line-height: 1.5;

  @media (max-width: $mob) {
    line-height: 1.1;
  }
}

.script-text {
  @include responsive-txt(20px, 19px, 18px, 17px);
  line-height: 1.7;
  color: #919191;
  // strong {
  //   color: #e4e4e4;
  // }
}

.small-text {
  @include responsive-txt(17px, 16px, 15px, 15px);
}

.medium-text {
  @include responsive-txt(25px, 22px, 20px, 18px);
}

.large-text {
  @include responsive-txt(30px, 28px, 25px, 22px);
}

// -------------------------
// Utility
// -------------------------
.section-tag {
  text-transform: uppercase;
  color: #fff;
  display: inline-blblock;
  padding-left: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: $ft-f-roboto;
  font-weight: 900;
  position: relative;
  @include responsive-txt(22px, 20px, 18px, 18px);
  &::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.scr-only {
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
}

// -------------------------
// Components
// -------------------------

.desc-dl {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 17px;

  &.mob-col {
    @media (max-width: $mob) {
      flex-direction: column;

      dt,
      dd {
        width: 100%;
      }
      dd {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  dt,
  dd {
    @include responsive-txt(18px, 17px, 16px, 16px);
  }

  dt {
    width: 150px;
    font-weight: $ft-sb;
    color: #aaa;
    @media (max-width: $mob) {
      width: 80px;
    }
  }

  dd {
    width: calc(100% - 160px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    span {
      background: #333;
      padding: 5px 7px;
      border-radius: 10px;
      font-size: 14px;
    }
  }
}
