@import "@/styles/variables";
.tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tilted-card-mobile-alert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
}

@media (max-width: 640px) {
  .tilted-card-mobile-alert {
    display: block;
  }
  .tilted-card-caption {
    display: none;
  }
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
}

.tilted-card-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
  will-change: transform;
  transform: translateZ(0);
}

.tilted-card-overlay {
  will-change: transform;
  transform: translateZ(30px);
  width: 100%;
  height: 100%;
  position: relative;
  p,
  ul {
    position: absolute;
    font-weight: $ft-b;
    border-radius: 4px;
  }
  .caption-title {
    left: 30px;
    top: 20px;
    color: #fff;
    background: $bg-col-n;
    padding: 10px 15px;
  }
  .caption-link {
    bottom: 20px;
    left: 30px;
    display: flex;
    gap: 10px;
    li {
      > a {
        display: block;
        padding: 8px 10px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .caption-detail-view {
        background: $sub-col-y;
        color: $bg-col-n;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 15px;
        }
      }
      .caption-visit-site {
        background: $bg-col-n;
        color: $sub-col-y;
        border: 1px solid $sub-col-y;
      }
    }
  }
}
